<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
    }
    a { cursor: pointer; color: blue; }
    a:hover,a.hover { text-decoration: underline; }
</style>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th></th>
    </tr>
    <% books.forEach(function(book) { %>
    <tr id='display<%= book.id %>'>
        <td><%= book.id %></td>
        <td><span><%= book.title %></span></td>
        <td><span><%= book.author %></span></td>
        <td>$<span><%= book.price %></span></td>
        <td><a onClick="deleteBook(<%= book.id %>, this);"><img src='/images/trash.gif' alt='delete' title='Delete' border='0'></a>
            &nbsp;<a onClick="toggleEdit(<%= book.id %>, true);"><img src='/images/pencil.gif' alt='edit' title='Edit' border='0'></a>
        </td>
    </tr>
    <tr id='edit<%= book.id %>' style='display:none'>
        <form class="editform">
            <td><%= book.id %><input type="hidden" name="book_id"  value="<%= book.id %>" ></td>
            <td><input type="text" name="title"  value="<%= book.title %>" ></td>
            <td><input type="text" name="author" value="<%= book.author %>"></td>
            <td><input type="text" name="price" value="<%= book.price %>"></td>
            <td class='recordcontrol'>
                <input type='image' src='/images/save.gif' alt='save' title='Save Record' border='0'>
                &nbsp;
                <a href='javascript:toggleEdit(<%= book.id %>, false)'><img src='/images/cancel.gif' alt='cancel' title='Cancel Edit' border='0'></a>
            </td>
        </form>
    </tr>

    <% }); %>

    <tr id="addRow" style="display:none">
        <form method='post' action='/jss/books/index.jss'>
            <td>&nbsp;</td>
            <td><input type="text" name="title"  value="" ></td>
            <td><input type="text" name="author" value=""></td>
            <td><input type="text" name="price" value=""></td>
            <td class='recordcontrol'>
                <input type='image' src='/images/save.gif' alt='save' title='Save Record' border='0'>
                &nbsp;
                <a href='javascript:toggleAdd(0)'><img src='/images/cancel.gif' alt='cancel' title='Cancel Edit' border='0' /></a>
            </td>
        </form>
    </tr>
</table>
<br>
<button id="addbutton" value="Add" onclick="toggleAdd(1);">Add</button>

<script>
    $( ".editform" ).on( "submit", updateBook);

    function deleteBook(id, btn){

        $.ajax({
            url:'/jss/books/index.jss',
            data: {id: id, delete:1},
            type: 'GET',
            success: function(res) {
                var row = btn.parentNode.parentNode;
                row.parentNode.removeChild(row);
                return false;
            }
        });
    }

    function updateBook(event){
        event.preventDefault();
        var form = this;
        var id = form.book_id.value;
        $.ajax({
            url:'/jss/books/index.jss',
            data: $(this).serialize(),
            type: 'POST',
            success: function(res) {
                var displayRow = $("#display" + id);
                var displayFields = displayRow.find('span');
                displayFields[0].innerHTML = form.title.value;
                displayFields[1].innerHTML = form.author.value;
                displayFields[2].innerHTML = form.price.value;
                toggleEdit(id, false);
            }
        });
    }

    function toggleEdit(index, show){
        var displayRow = document.getElementById("display" + index);
        var editRow = document.getElementById("edit" + index);
        if (show){
            displayRow.style.display = "none";
            editRow.style.display = "";
        }
        else{
            displayRow.style.display = "";
            editRow.style.display = "none";
        }
    }

    function toggleAdd(show){
        var addRow = document.getElementById("addRow");
        var btn = document.getElementById("addbutton");
        if (show){
            addRow.style.display = "";
            btn.style.display = "none";
        }
        else{
            addRow.style.display = "none";
            btn.style.display = "";
        }
    }



</script>