<table>
<tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Price</th>
    <th></th>
</tr>
<% books.forEach(function(book) { %>
<tr id='display<%= book.id %>'>
    <td><%= book.id %></td>
    <td><span><%= book.title %></span></td>
    <td><span><%= book.author %></span></td>
    <td>$<span><%= book.price %></span></td>
    <td><a onClick="deleteBook(<%= book.id %>, this);"><img src='/images/trash.gif' alt='delete' title='Delete' border='0'></a>
        &nbsp;<a onClick="toggleEdit(<%= book.id %>, true);"><img src='/images/pencil.gif' alt='edit' title='Edit' border='0'></a>
    </td>
</tr>
<tr id='edit<%= book.id %>' style='display:none'>
        <td><%= book.id %></td>
        <td><input type="text" id="title<%= book.id %>"  value="<%= book.title %>" ></td>
        <td><input type="text" id="author<%= book.id %>" value="<%= book.author %>"></td>
        <td><input type="text" id="price<%= book.id %>" value="<%= book.price %>"></td>
        <td class='recordcontrol'>
            <a href='javascript:updateBook(<%= book.id %>)'><img src='/images/save.gif' alt='save' title='Save Record' border='0'></a>
            &nbsp;
            <a href='javascript:toggleEdit(<%= book.id %>, false)'><img src='/images/cancel.gif' alt='cancel' title='Cancel Edit' border='0'></a>
        </td>
</tr>

<% }); %>
<tr id="addRow" style="display:none">
    <form method='post'>
        <td>&nbsp;</td>
        <td><input type="text" id="title"  value="" ></td>
        <td><input type="text" id="author" value=""></td>
        <td><input type="text" id="price" value=""></td>
        <td class='recordcontrol'>
            <a href='javascript:addBook();'><img src='/images/save.gif' alt='save' title='Save Record' border='0'></a>
            &nbsp;
            <a href='javascript:toggleAdd(0);'><img src='/images/cancel.gif' alt='cancel' title='Cancel Edit' border='0' /></a>
        </td>
    </form>
</tr>
</table>
<br>
<button id="addbutton" value="Add" onclick="toggleAdd(1);">Add</button>