<!-- Could use same template as add.ejs, but chose to split for clarity in example -->
<form>
    <!--  Use CSS to be modern -->
    <table>
        <tr><td>Title: </td><td><input type="text" id="edittitle<%= book.id %>"  value="<%= book.title %>" ></td></tr>
        <tr><td>Author: </td><td><input type="text" id="editauthor<%= book.id %>" value="<%= book.author %>"></td></tr>
        <tr><td>Price: </td><td><input type="text" id="editprice<%= book.id %>" value="<%= book.price %>"></td></tr>
        <tr><td colspan="2">
                <input type='submit' value="Save" onclick="updateBook(<%= book.id %>)">
                &nbsp;
                <input type="button" value='Cancel Edit' onclick="loadList();">
            </td></tr>
    </table>
</form>
